*.pcb linguist-language=eagle
*.brd linguist-language=eagle
*.sch linguist-language=eagle
*.epf linguist-language=eagle
*.scr linguist-language=eagle
*.B## linguist-language=eagle
*.pcbdoc linguist-language=eagle
*.pcb linguist-language=Eagle
*.brd linguist-language=Eagle
*.sch linguist-language=Eagle
*.epf linguist-language=Eagle
*.scr linguist-language=Eagle
*.B## linguist-language=Eagle
*.pcbdoc linguist-language=Eagle



