*.pcb linguist-language=java
*.brd linguist-language=Eagle
*.sch linguist-language=Eagle
*.epf linguist-language=Eagle
*.scr linguist-language=Eagle
*.B## linguist-language=Eagle
*.pcbdoc linguist-language=Eagle



